<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>AngularJS tutorial - Egghead - Pierangelo's version</title>
<link rel="stylesheet" href="css/foundation.css" />

<script type="text/javascript" src="lib/angular/angular.js"></script>
<script type="text/javascript" src="js/main.js"></script>
</head>
<body>
  <div ng-app="myApp">

    <div ng-controller="AvengersCtrl">
      <label>Search: </label>
      <input type="text" ng-model="searchText">
      <table>
        <tr>
          <th>Column 1 Heading</th>
          <th>Column 2 Heading</th>
        </tr>
        <!-- this filter applies to any of the attributes of the object (either 'name' or 'character') -->
        <tr ng-repeat="actor in avengers.cast | filter:searchText"> 
          <td>{{actor.name}}</td>
          <td>{{actor.character}}</td>
        </tr>
      </table>

    </div>


  </div>


</body>
</html>